<template>
  <div class="main">
    <h1>Aurelium Cluster</h1>
    <div class="example">
      <h4>Exemplo 1, balancer com DNS</h4>
      <button class="btn btn-lg btn-primary" @click="example1">Executar</button>
      <pre>{{exemple1Result}}</pre>
    </div>

    <div class="example">
      <h4>Exemplo 2, balancer com DNS, chamada recursivo a função remota</h4>
      <button class="btn btn-lg btn-primary" @click="example2">Executar</button>
      <pre>{{exemple2Result}}</pre>

    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'home',
  data(){
      return {
        exemple1Result: "Ainda nao executado",
        exemple2Result: "Ainda nao executado"

      };
  },
  methods: {
    example1(){
      axios.get('/api/ping')
      .then(response => {
          this.exemple1Result = response.data
      })
      .catch(() => {
          this.exemple1Result = "Erro invocando recurso"
      });
    },
    example2(){
      let numbers = []
      for(let i=0; i<10;i++){
        numbers.push(Math.floor(Math.random()*100))
      }
      axios.post('/api/sum', {numbers: numbers})
      .then(response => {
        this.exemple2Result = response.data
      })
      .catch(() => {
          this.exemple2Result = "Erro invocando recurso"
      });
    }
  }
}
</script>

<style scoped lang="scss">

.main{
  text-align: left;
}

h1{
  text-align: center;
  padding: 12px;
}

.example{
  border-radius: 5px;
  padding: 16px;
  margin: 30px;
  background: #CACACA;
}

pre {
  background: gray;
  font-size: 1rem;
  border-radius: 5px;
  padding: 16px;
  margin: 30px;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
}

</style>
